.friends-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.search-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  background: white;
  border: 3px solid black;
  padding: 1rem;
  border-radius: 10px;
}

.search-result,
.friends-list li,
.entry-card {
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 400px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.friends-page h2 {
  font-weight: bolder;
}

.friends-list {
  list-style: none;
  padding: 0;
}

.friends-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-card {
  margin-top: 1rem;
  text-align: center;
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.friend-entries h3{
    text-align: center;
    font-weight: bolder;
}